.card {
    background: #fff8e1;
    border-radius: 12px;
    padding: 1rem;
    border: 2px solid #f0b429;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.25s ease, border-color 0.25s ease;
    gap: 1rem;
    box-shadow: 0 0 8px rgba(255, 180, 30, 0.4);
}

.card:hover {
    transform: scale(1.02);
    box-shadow:
        0 0 12px rgba(255, 183, 0, 0.8),
        0 0 24px rgba(255, 140, 0, 0.6),
        0 0 40px rgba(255, 100, 0, 0.4);

    border-color: #f0a029;
}

.card img {
    width: 100%;
    height: 200px;

    object-fit: contain;
    object-position: center;

    transition: transform 0.2s ease;
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}