.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 1rem;
    border: 2px solid #f0b429;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 50%;

}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}