.card {
    background: #ffffff;
    border-radius: 12px;
    padding: 1rem;
    border: 2px solid #f0b429;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    gap: 1rem;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;

    object-fit: contain;
    object-position: center;

    transition: transform 0.2s ease;
}

.cardText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}