.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 1rem 1.5rem;
    background: #f7f7f7;
    border-radius: 8px;
    background: rgba(255, 203, 40, 0.15);
    border: 2px solid #f0b429;

    max-width: 600px;
}