.score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    border: 3px solid #f0b429;
    box-shadow:
        0 0 10px rgba(255, 120, 0, 0.6),
        0 0 20px rgba(255, 140, 0, 0.3);
    max-width: 420px;
    background: rgba(255, 255, 255, 0.9);

}